<h1>An h2 tag built with css declared in component:</h1>
<h2 class="special">Hello world from the html file</h2>
<h1>Variables declared in component:</h1>
<h1>{{name}} is {{age}} years old</h1>
<h2>my name is {{person.firstname}} {{person.lastname}}</h2>
<ul>
    <li>{{showAge()}}</li>
</ul>
<ul>
    <li *ngFor="let person of people ; let i=index">
        {{i}} {{person}}
    </li>
</ul>

<!-- loop thru object -->
<ul>
    <li *ngFor="let p of customers">
        {{p.id}}--{{p.name}}--{{p.email}}
    </li>
</ul>

<h3>Let s look at *ngIf directive</h3>

<p>Hello
    <span *ngIf="showName()">{{name}}</span>
    <span *ngIf="!showName()">World</span>
</p>

<h3>Using ternary operator</h3>

<p>Hello {{showName() ? name:'world with ternary'}}</p>

<h3>Let s look at *ngSwitch directive</h3>

<div [ngSwitch]="greeting">
    <div *ngSwitchCase="'1'">Hello world</div>
    <div *ngSwitchCase="'2'">Hi there</div>
    <div *ngSwitchCase="'3'">what s up</div>
    <div *ngSwitchDefault>Hello</div>
</div>
<div>
    <img src="{{ imageUrl }}">
    <!-- another way to do it-->
    <img [src]="imageUrl">
    <!-- third way to do it-->
    <img bind-src="imageUrl">
</div>

<h4>create post</h4>
<p hidden="isUnchanged">
    post has been changed, please save
    <button disabled="isUnchanged"> Save</button>
</p>
<p>if <strong>isSpecial</strong> is true then, special class css will be applied</p>
<h4 [class.special]="isSpecial">This class binding is special</h4>
<h4 [ngClass]="currentClasses">This class is special and saveable</h4>

<p>ngStyle manipulation</p>
<div [style.font-size]="isSpecial ? 'x-large': 'smaller'">
    font size depends on isSpecial
</div>
<div [ngStyle]="currentStyles">this div is conditionnaly saveable and special</div>

<p>Using pipe to format text</p>
<p>My birthday is {{birthday | date }}</p>
<p>My birthday is {{birthday | date | uppercase }}</p>
<p>My birthday is {{birthday | date:"MM-dd-yyyy" }}</p>
<p>I was born in {{birthday | date:"yyyy" }}</p>
<p>I love {{'cake' | uppercase }}</p>
<p>I earn {{'500' | currency:"GBP":"1" }}</p>